$flex: flex;
$grid: grid;

$center: center;
$column: column;



$color-primary:#262626;
$color-white:#fff;



$background-primary:#fff;
$background-blue:#0095F6;





$font-family-primary:'Noto Sans', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;

$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-big: 24px;

$font-style-normal: normal;
$line-height-small: 112%;
$line-height-medium: 150%;

$letter-spacing-small:0.12px;

$padding-small:6px;
$padding-big:24px;




$border-radius-btn:4px;



$actual-story-image-width: 67px;
$actual-story-image-height: 67px;